.contact{
    position: relative;
}
.contact h1{
    color: #1A1930;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 77px; /* 110% */
    margin-bottom: 60px;
}
.contact__content p{
    color: #2D2B5C;
    width:  459px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 140% */
    margin-bottom: 19px;
    margin-top: 300px;
}
.contact__content span{
    color: #ABAABB;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 140% */
}
.contact__form label{
    display: block;
    color: #2D2B5C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 140% */
    margin-bottom: 19px;
}
.contact__form label input{
    width: 640px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 4px 20px 0px rgba(193, 193, 193, 0.30);
}
#con__inp{
    width: 640px;
    height: 100px;
    flex-shrink: 0;
}
.contact__form button{
    width: 640px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #6259EA;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.2px; /* 140% */
    border: none;
    cursor: pointer;
    color: white;
}
.contact__wrapper{
    display: flex;
    justify-content: space-between;
}
.con__bg1{
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
}
.con_bg2{
    position: absolute;
    right: 0;
    top: 100px;
    z-index: -1;
}
@media(max-width:1140px){
    .contact__wrapper{
        flex-direction: column;
        gap: 100px;
        align-items:baseline;
    }
}
@media(max-width:720px){
    .contact__form button{
        width: 500px;
    }
    .contact__form label input {
        width: auto;
    }
    #con__inp{
        width: auto;
    }
}
@media(max-width:520px){
    .contact__form button{
        width: 200px;
    }
    .contact__content p{
        width: auto;
    }
    .con__bg1{
        width: 300px;
    }
}