.swl__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.swl__wrapper img{
    cursor: pointer;
}
.swipe__logo{
    /* background-color: black; */
}
@media(max-width:770px){
    .swl__wrapper{
       flex-wrap: wrap;
        gap: 30px;
    }
}