*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width: 1350px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}